#menu
{
	/* display: flex;
	flex-direction: row; */
	position: fixed;
	width: 100%;
	height: 40px;;
	font-size: 15px;
	font-style: oblique;
	font-weight: bold;
	background: rgb(61, 117, 187);
	text-align: center;
}
#menu a{
	text-align: center;
	padding: 30px 15px;
}
body {
	/* background: url("https://www.seekpng.com/png/full/54-542616_messi-logo-logo-de-lionel-messi.png"); */
	background-color: whitesmoke;
	background-repeat: no-repeat;
	background-size: cover;
}
h1.S1{
	position: relative;
	text-align: center;
	font-size: 30px;
	/* font-size: x-large; */
}
h2.B1{
	position: relative;
	text-align: center;
}
h2.D1{
	position: relative;
	text-align: center;
}
h2.C1{
	position:relative;
	text-align: center;
	width: 100%;
}
h1.L1{
	position: relative;
	text-align: center;	
}
h1::before,
h1::after{
	display: inline-block;
    content: "";
    border-top: 5px solid rgb(61, 117, 187);
    width: 100%;
}
